<style>

html {
    -webkit-text-size-adjust: none; /* Never autoresize text */
}

table {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: calc(100% - 20px);
}

td {
    vertical-align: text-top;
}

.largeImgTd {
    width: 40px;
}

.largeImgTr {
    min-height: 40px;
}

.smallImgTd {
    width: 30px;
}

.smallImgTr {
    min-height: 30px;
}

img {
    zoom: 50%;
    vertical-align: text-top;
}

#rateThisAppP {
    text-align: center;
}

#rateThisAppA {
    font-size: 18px;
    color: rgb(0, 122, 255);
    font-weight: bold;
}

#rateThisAppImg {
    zoom: 50%;
    width: 24px;
    height: 21px;
    margin-right: 10px;
    vertical-align: baseline;
}

.tdSpan {
    color: rgb(37, 37, 37);
    direction: ltr;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
     -webkit-text-size-adjust: none;
}

a {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    color: rgb(0, 122, 255);
    direction: ltr;
    display: inline;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: auto;
    line-height: 21px;
    text-decoration: none;
    width: auto;
}

p {
    color: rgb(37, 37, 37);
    direction: ltr;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

body {
    background-color:#f3f0eb;
}

.listImg {
    width: 13px;
    height: 10px;
    margin-right: 10px;
    vertical-align: baseline;
}

</style>
